{%extends 'penpals/base.html'%}

{%block body_block%}
<div class = "container register">
	<h1>Register here to get yourself a PenPal!</h1>
	<form class="form-horizontal" action="{%url 'registerform'%}" method="post" role="form">
	{%csrf_token%}
		<div class="form-group">
			<label for="name" class="control-label col-md-2">Name :</label>
			<div class="col-md-10">
				<input class="col-md-6" type="text" id="name" name="name" placeholder="Enter Name">
			</div>
		</div>
		<div class="form-group">
			<label for="address" class="control-label col-md-2">Address :</label>
			<div class="col-md-10">
				<textarea class="col-md-8" name="address" placeholder="Enter Postal Address to receive letters"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="age" class="control-label col-md-2">Age :</label>
			<div class="col-md-3">
				<input class="col-md-3" type="text" id="age" name="age" placeholder="18">
			</div>
		</div>
		<div class="form-group">
			<label for="rad" class="control-label col-md-2">Gender: </label>
			<div class="radio radio-inline">
				<label><input type="radio" id="rad" name="gender" value="M"> Male</label>
				<label><input type="radio" id="rad" name="gender" value="F"> Female</label>
			</div>
		</div>
		<div class="panel-group col-lg-12" id="accordian">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" data-parent="accordian" href="#sports">Games, Sports and Adventure</a>
					</h3>
				</div>
				<div id="sports" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="checkbox" name="interests" value="Football"> Football<br>
						<input type="checkbox" name="interests" value="Cricket"> Cricket<br>
						<input type="checkbox" name="interests" value="LawnTennis"> Lawn Tennis<br>
						<input type="checkbox" name="interests" value="TableTennis"> Table Tennis<br>
						<input type="checkbox" name="interests" value="Basketball"> Basketball<br>
						<input type="checkbox" name="interests" value="Badminton"> Badminton<br>
						<input type="checkbox" name="interests" value="Pool"> Pool, Snooker, Billiards<br>
						<input type="checkbox" name="interests" value="CardGames"> Card Games<br>
						<input type="checkbox" name="interests" value="BoardGames"> Board Games<br>
						<input type="checkbox" name="interests" value="Gymming"> Gymming<br>
						<input type="checkbox" name="interests" value="MartialArts"> Martial Arts<br>
						<input type="checkbox" name="interests" value="Cycling"> Cycling<br>
						<input type="checkbox" name="interests" value="HikingTrekking"> Hiking, Trekking<br>
						<input type="checkbox" name="interests" value="AdventureSports"> Adventure Sports<br>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" data-parent="accordian" href="#moviesTV">Movies and TV</a>
					</h3>
				</div>
				<div id="moviesTV" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="checkbox" name="interests" value="Romance"> Romance<br>
						<input type="checkbox" name="interests" value="Romcoms"> Romcoms<br>
						<input type="checkbox" name="interests" value="Comedies"> Comedies<br>
						<input type="checkbox" name="interests" value="Thriller"> Crime Suspense Thriller<br>
						<input type="checkbox" name="interests" value="Action"> Action<br>
						<input type="checkbox" name="interests" value="SciFi"> Sci-Fi<br>
						<input type="checkbox" name="interests" value="Anime"> Anime<br>
						<input type="checkbox" name="interests" value="Cartoons"> Cartoons<br>
						<input type="checkbox" name="interests" value="Horror"> Horror<br>
						<input type="checkbox" name="interests" value="Sex"> Sex/Gore<br>
						<input type="checkbox" name="interests" value="Reality"> Reality TV<br>
						<input type="checkbox" name="interests" value="Drama"> Drama<br>
						<input type="checkbox" name="interests" value="Biographies"> Biographies<br>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" data-parent="accordian" href="#dancePA">Dance and Performing Arts</a>
					</h3>
				</div>
				<div id="dancePA" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="checkbox" name="interests" value="Classical"> Classical<br>
						<input type="checkbox" name="interests" value="Western"> Western<br>
						<input type="checkbox" name="interests" value="Singing"> Singing, Musician<br>
						<input type="checkbox" name="interests" value="Rapping"> Rapping, Beatboxing<br>
						<input type="checkbox" name="interests" value="Filming"> Filming, Acting, Scriptwriting, Directing<br>
						<input type="checkbox" name="interests" value="Fashion"> Fashion<br>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" data-parent="accordian" href="#lit">Literature</a>
					</h3>
				</div>
				<div id="lit" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="checkbox" name="interests" value="Rom"> Romance<br>
						<input type="checkbox" name="interests" value="Short"> Short Stories<br>
						<input type="checkbox" name="interests" value="Mystery"> Mystery Thrillers<br>
						<input type="checkbox" name="interests" value="Plays"> Plays<br>
						<input type="checkbox" name="interests" value="Motivational"> Motivational<br>
						<input type="checkbox" name="interests" value="Bio"> Biographies, Autobiographies<br>
						<input type="checkbox" name="interests" value="PhilPsych"> Philosophy, Psychology<br>
						<input type="checkbox" name="interests" value="Dram"> Drama<br>
						<input type="checkbox" name="interests" value="Comics"> Comics<br>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" data-parent="accordian" href="#gaming">Gaming</a>
					</h3>
				</div>
				<div id="gaming" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="checkbox" name="interests" value="MMORPG"> Multiplayer Online(League of Legends, Dota, etc)<br>
						<input type="checkbox" name="interests" value="RPG"> RPG(Skyrim, Assassin's Creed, etc)<br>
						<input type="checkbox" name="interests" value="FPS"> FPS(CounterStrike, Call of Duty, etc)<br>
						<input type="checkbox" name="interests" value="Strat"> Strategy(Civilization, Age of Empires, etc)<br>
						<input type="checkbox" name="interests" value="Sim"> Simulation(SIMS, Goat Simulator, etc)<br>
						<input type="checkbox" name="interests" value="Flash"> Flash Games<br>
						<input type="checkbox" name="interests" value="Race"> Racing(NFS, Burnout, etc)<br>
						<input type="checkbox" name="interests" value="Sports"> Sport Games(FIFA, NBA Live, etc)<br>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" data-parent="accordian" href="#pfa">Painting and Fine Arts</a>
					</h3>
				</div>
				<div id="pfa" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="checkbox" name="interests" value="Painting"> Painting, Colouring<br>
						<input type="checkbox" name="interests" value="Sketching"> Sketching, Doodling<br>
						<input type="checkbox" name="interests" value="Graffiti"> Wall Graffiti, Mural<br>
						<input type="checkbox" name="interests" value="Photography"> Photography<br>
						<input type="checkbox" name="interests" value="Writing"> Creative Writing<br>
						<input type="checkbox" name="interests" value="Origami"> Origami and Kirigami<br>
						<input type="checkbox" name="interests" value="Design"> Designing, Quilling, Crafts<br>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" data-parent="accordian" href="#music">Music</a>
					</h3>
				</div>
				<div id="music" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="checkbox" name="interests" value="Party"> Party<br>
						<input type="checkbox" name="interests" value="Rap"> Rap<br>
						<input type="checkbox" name="interests" value="EDM"> EDM<br>
						<input type="checkbox" name="interests" value="Rock"> Rock<br>
						<input type="checkbox" name="interests" value="Metal"> Metal<br>
						<input type="checkbox" name="interests" value="Bollywood"> Bollywood<br>
						<input type="checkbox" name="interests" value="Classical"> Classical, Folk<br>
						<input type="checkbox" name="interests" value="Romantic"> Romantic, Soulful<br>
						<input type="checkbox" name="interests" value="Sad"> Senti, Gloomy, Sad<br>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" data-parent="accordian" href="#other">Others</a>
					</h3>
				</div>
				<div id="other" class="panel-collapse collapse">
					<div class="panel-body">
						<input type="checkbox" name="interests" value="Travelling"> Travelling<br>
						<input type="checkbox" name="interests" value="Cooking"> Cooking<br>
						<input type="checkbox" name="interests" value="Collecting"> Collecting<br>
						<input type="checkbox" name="interests" value="Shopping"> Shopping<br>
					</div>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button> 
	</form>
</div>
{%endblock%}